.myInput {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid teal;
}
.warning {
  color: red;
  width: 100%;
}

.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}
